*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items-center;
    flex-wrap:wrap;
    flex-direction:row;
}
body>div{
    flex: 0 1 33%;
    display:flex;
    text-align:left;
    align-items:center;
    justify-content:center;
}
body>div:nth-child(even){
    background: #ccc;
    color:white;
}